
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estamos trabajando</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body> 
    <header class=title_1>
        <article>
            <img src='../../assets/Recursos_Imagenes/Design_fondo_IA.png' alt='Fondo'>
            <img src='../../../assets/Recursos_Logo/LagguerW.svg' alt='Logo'>
        </article>
        <br>
    </header>
    <nav class=title_describe>
        <h1>Estamos trabajando en esta página</h1>
        <p>Disculpa las molestias. ¡Volveremos pronto!</p>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>