body {
  font-family: Arial, sans-serif;
  background-color: #BFB2AF;
  text-align: center;
  padding-top: 0px;
}

.border-bottom {
  border-bottom: 1px solid #000; /* You can customize the border style as needed */
}

.border-left {
  border-left: 1px solid #000; /* Customize the border style as needed */
}

.border-right {
  border-right: 1px solid #000; /* Customize the border style as needed */
}

h1 {
  font-size: 50px;
  color: #ffffff;
}

p {
  font-size: 20px;
  color: #ffffff;
}

