
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
      </nav>
      
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../Components/home/home.component.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Informacion</li>
        </ol>
      </nav>
      
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../Components/home/home.component.html">Home</a></li>
          <li class="breadcrumb-item"><a href="../Components/information/information.component.html">Informacion</a></li>
          <li class="breadcrumb-item active" aria-current="page">Mantenimiento</li>
        </ol>
    </nav>
</div>