

/* Estilos horizontal */
.instagram-photos-container {
  display: flex; /* Utiliza un contenedor flexible (flexbox) */
  flex-direction:column; /* Disposición horizontal */
  gap: 20px; /* Espacio entre las fotos */
}

.instagram-media {
  /* Estilos adicionales para cada bloque de código de inserción */
  width: 300px; /* Ancho fijo para cada foto (ajusta según tus necesidades) */
  height: auto; /* Altura automática para mantener la proporción */
}
