
<div class="container-fluid">
    <div class="row">
      <div class="col-md-3 sidebar">
        <!-- Aquí va el contenido de la barra lateral -->
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink='/pagina-principal/pagina-principal.component.html'>Página Principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/information/information.component.html'>Página 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pagina3">Página 3</a>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  